/* Var */
:root {
    /* Color */
    --color-gray: #546e7a;
    --color-light-gray: #819ca9;
    --color-dark-gray: #29434e;
    --color-deep-gray: #37474f;
    --color-real-gray: #9e9e9e;
    --color-white: #ffffff;
    --color-highlight: #E55C1C;
    --color-yellow: #FFFF00;
    --color-black: #000000;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* border size */
    --size-border-radius: 4px;

    /* border radius */
    --border-radius: 10%;

    /* Animation */
    --animation-duration: 300ms;



}

/* Univalsial */
* {
    box-sizing: border-box;
}

body {

}

a {
    text-decoration: none;
    color: var(--color-white);
}

button {

}








/* Typography */
h1 {
    
}

/* Section */
.section {
    padding: 30px;
    text-align: center;
    margin: auto;
}

.section__container {
    max-width: 1200px;
    margin: auto;
}


/* NavBar */
#navbar {
    z-index: 1; /* 없으면 문제 발생. */
    width: 100%;
    border-radius: 2rem;
    position: fixed;
    background-color: var(--color-gray);
    text-align: center;
    top: 0;
    padding: 10px 0px;
}

.nav__logo {  
    font-size: var(--font-medium);
    color: var(--color-yellow);
}

.nav__logo a:hover {
    border: 1px solid var(--color-white);
    background-color: var(--color-dark-gray);
    border-radius: var(--border-radius);
}


/* Information */
#information {  /* Navbar때문에 가려져서 아래로 내리기 */
    margin-top: 100px;
    text-align: center;
}
#information h1:after { /* 제목 아래에 밑줄 추가하기 */
    content: '';
    position: relative;
    display: block;
    width: 150px;
    height: 2px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    background-color: var(--color-gray);
}


/* Moon Cards */
#moonCards {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    margin-right: auto;
    margin-left: auto;
}

.moonCard {
    /* box-shadow: 10px 10px 3px var(--color-real-gray); */
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 400px;
    margin: 10px;
    background-color: var(--color-white);
}

.moonCard:hover {
    box-shadow: 20px 20px 3px var(--color-real-gray);
    transform: scale(1.1);
    opacity: 1;
    transition: all var(--animation-duration) ease-out;
}

/* .moonCard .moonCard__img img:hover {
    transform: scale(1.1);
} */

.moonCard__info {
    border: 1px solid var(--color-black);
    width: 150px;
    margin-right: auto;
    margin-left: auto;
}

/* Full Moon Days */
/* 다시 수정.  세세하게 */
#nextFullMoon {

    text-align: center;

} 

#nextFullMoon .fullMoon {
    text-align: center;
    width: 250px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

#nextFullMoon .fullMoon__quiz button{
    border-radius: 50%;
    width:50px;
    height:50px;
    border: 1px solid var(--color-deep-gray);
    background-color: var(--color-deep-gray);
    color: var(--color-white);
}

/* Developer Pictuers Setting */
#developerPictures {
    border: 1px solid var(--color-gray);
    height: 1000px;
    padding-top: 0;
    margin: 50px auto;
}

#developerPictures .pictures .picture {
    float: left; /* 이걸로 하면 해결될 줄 알았는데 왜 안될까..??*/
}

#developerPictures h3:after {
    content: "";
    position: relative;
    top: 10px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--color-light-gray);
}

.pictures {
    display: flex;
    justify-content: center;
}

.picture img {
    width: 200px;
    height: 400px;
    margin: 5px;
    
}

.picture img:hover {
    transform: scale(1.3);
    transition: all var(--animation-duration) ease-out;
}

/* Contact */

#contact {
    background-color: var(--color-gray);
    color: var(--color-white);
    text-align: center;
    padding: 15px 0;
}

#contact .contact__github i:hover {
    transform: scale(1.3);
    transition: all var(--animation-duration) ease-out;
    color: var(--color-dark-gray);
}

/* Mobile */
@media screen and (max-width: 768px) {
    #moonCards {
        flex-direction: column;
        
    }

    .moonCard {
        margin: 20px auto;
    }

    #developerPictures {
        margin-left: 50px;
        margin-right: 40px;
        overflow-y: auto;
    }


    #developerPictures .pictures{
        flex-direction: column;
    }

    #developerPictures .pictures img{
        transform: none;
    
    }
}

/* #contact:hover {
    color: var(--color-yellow)
} */

/* Up Button */
.arrow-up {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 70px;
    height: 70px;
    background-color: var(--color-yellow);
    color: var(--color-black);
    border-radius: 50%;
    font-size: 30px;
    
}